.timeline_index {

  // Settings
  $timeline-thickness: 6px;
  $image-dim: 60px;
  $timeline-thickness-mobile: 4px;
  $image-dim-mobile: 40px;
  // How far the circle descend from top of section
  $timeline-img-top-margin: 15px;
  $triangle-size: 10px;
  // Colors
  $timeline-color: color('grey', 'lighten-2');
  $timeline-project-color: color('grey', 'base');
  $timeline-event-color: $color-secondary-1-2;

  .timeline-container {
    max-width: 700px;
    margin: 0 auto;
  }
  #timeline {
    position: relative;
    padding: 10px 0;
    margin: {
      top: 45px;
      bottom: 45px;
    };

    // Vertical line
    &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      background: $timeline-color;
      @media #{$small-and-down} {
        left: $image-dim-mobile/2 - $timeline-thickness-mobile/2;
        width: $timeline-thickness-mobile;
      }
      @media #{$medium-and-up} {
        left: $image-dim/2 - $timeline-thickness/2;
        width: $timeline-thickness;
      }
    }

    .timeline-mark {

    }

    .timeline-block {
      position: relative;
      @include transition(all 0.1s ease-in);
      overflow: visible !important;
      @include clearfix;
      @media #{$small-and-down} {
        margin: 30px 0;
      }
      @media #{$medium-and-up} {
        margin: 60px 0;
      }

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }

      /*
       * General block stylings
       */

      .timeline-badge, .timeline-content {
        @include transition(all 0.1s ease-in);
      }

      .timeline-badge {
        position: absolute;
        left: 0;
        @include border-radius(50%);
        background-color: grey;
        @media #{$small-and-down} {
          width: $image-dim-mobile;
          height: $image-dim-mobile;
        }
        @media #{$medium-and-up} {
          width: $image-dim;
          height: $image-dim;
        }

        // For badges that use image as icon
        img {
          display: block;
          width: 24px;
          height: 24px;
          position: relative;
          left: 50%;
          top: 50%;
          margin-left: -12px;
          margin-top: -12px;
        }
        // For badges that use font as icon (fontawesome, etc.)
        span {
          width: 100%;
          font-size: 1.4rem;
        }
      }

      .timeline-content {
        position: relative;
        overflow: visible !important;
        background: color('grey', 'lighten-5');
        @include border-radius($global-radius);
        @include clearfix;
        @media #{$small-and-down} {
          margin-left: 60px;
        }
        @media #{$medium-and-up} {
          margin-left: 80px;
        }
        img {
          display: block;
        }

        // triangle
        //&::before {
        //  content: '';
        //  position: absolute;
        //  @media #{$small-and-down} {
        //    bottom: $image-dim-mobile/2 - $triangle-size + $timeline-img-top-margin;
        //  }
        //  @media #{$medium-and-up} {
        //    bottom: $image-dim/2 - $triangle-size + $timeline-img-top-margin;
        //  }
        //  right: 100%;
        //  height: 0;
        //  width: 0;
        //  border: $triangle-size solid transparent;
        //  border-right: $triangle-size solid color('grey', 'lighten-3');
        //}
      }

      /*
       * Project block specific stylings
       */
      &.project-block {
        // Whole content is clickable, but don't want link color
        > a {
          color: inherit;
        }
        .timeline-badge {
          @extend .z-depth-1;
          background-color: darken($timeline-project-color, 5%);
          color: white;
        }
        .timeline-content {
          @extend .z-depth-1;
          img {
            @include border-radius($global-radius);
          }
        }
        // Hover to lift property
        &:hover {
          .timeline-badge, .timeline-content {
            @extend .z-depth-1-half;

          }
          .timeline-badge {
            background-color: $timeline-project-color;
          }
        }
      }

      /*
       * Event block specific stylings
       */
      &.event-block {
        .timeline-badge {
          background-color: $timeline-event-color;
          color: white;
        }
        .timeline-content {
          padding: 1rem;
          background-color: lighten($timeline-event-color, 30%);
        }
      }
    }
  }
}