---
module_title: Timeline
---

section#timeline.timeline-container

  .timeline-block.project-block
    .timeline-badge.circle.valign-wrapper.center-align
      span.valign: i.ss-star
    = link_to '/timeline/projectbuddy' do
      .timeline-content
        = image_tag 'projects/projectbuddy/feature-shot.png', class: 'responsive-img'

  .timeline-block.project-block
    .timeline-badge.circle.valign-wrapper.center-align
      span.valign: i.ss-star
    = link_to '/timeline/squairo' do
      .timeline-content
        = image_tag 'projects/squairo/feature-shot.png', class: 'responsive-img'

  .timeline-block.project-block
    .timeline-badge.circle.valign-wrapper.center-align
      span.valign: i.ss-star
    = link_to '/timeline/roomforward' do
      .timeline-content
        = image_tag 'projects/roomforward/feature-shot.png', class: 'responsive-img'

  .timeline-block.event-block
    .timeline-badge.valign-wrapper.center-align
      span.valign: i.ss-calendar
    .timeline-content
      span
        | Co-founded
        a<> href="https://www.crunchbase.com/organization/roomforward" target="_blank" RoomForward, Inc.

  .timeline-mark
    span.mark 2015
    .remark
      span something witty

  .timeline-block.project-block
    .timeline-badge.circle.valign-wrapper.center-align
      span.valign: i.ss-star
    = link_to '/timeline/gloinno' do
      .timeline-content
        = image_tag 'projects/gloinno/feature-shot.png', class: 'responsive-img'

  .timeline-block.project-block
    .timeline-badge.circle.valign-wrapper.center-align
      span.valign: i.ss-star
    = link_to '/timeline/ramlr' do
      .timeline-content
        = image_tag 'projects/ramlr/feature-shot.png', class: 'responsive-img'

  .timeline-block.event-block
    .timeline-badge.valign-wrapper.center-align
      span.valign: i.ss-calendar
    .timeline-content
      span
        | Started working at
        a<> href="http://www.crunchyroll.com/about" target="_blank" Crunchyroll, Inc.
        | as an Engineering Intern

  .timeline-mark
    span.mark 2014
    .remark
      span something witty

  .timeline-block.project-block
    .timeline-badge.circle.valign-wrapper.center-align
      span.valign: i.ss-star
    = link_to 'http://migroup.donny.io', target: '_blank' do
      .timeline-content
        = image_tag 'projects/migroup/feature-shot.png', class: 'responsive-img'

  .timeline-mark
    span.mark 2013
    .remark
      span something witty

  .timeline-block.event-block
    .timeline-badge.valign-wrapper.center-align
      span.valign: i.ss-calendar
    .timeline-content
      span
        | Started studying
        a<> href="http://www.eecs.berkeley.edu" target="_blank" Electrical Engineering and Computer Sciences
        | at
        a<> href="http://www.berkeley.edu" target="_blank" University of California, Berkeley.

  .timeline-block.project-block
    .timeline-badge.circle.valign-wrapper.center-align
      span.valign: i.ss-star
    = link_to '/timeline/vocalolight' do
      .timeline-content
        = image_tag 'projects/vocalolight/feature-shot.jpg', class: 'responsive-img'

  .timeline-block.project-block
    .timeline-badge.circle.valign-wrapper.center-align
      span.valign: i.ss-star
    = link_to '/projects/anime-spotlight' do
      .timeline-content
        = image_tag 'projects/anime-spotlight/feature-shot.png', class: 'responsive-img'

  .timeline-mark
    span.mark 2012
    .remark
      span Something witty

  .timeline-block.project-block
    .timeline-badge.circle.valign-wrapper.center-align
      span.valign: i.ss-star
    = link_to '/timeline/fm1397' do
      .timeline-content
        = image_tag 'projects/fm1397/feature-shot.png', class: 'responsive-img'

  .timeline-mark
    span.mark 2011
    .remark
      span Something witty

  .timeline-block.event-block
    .timeline-badge.valign-wrapper.center-align
      span.valign: i.ss-calendar
    .timeline-content
      span Moved to the United States.
  /
  .timeline-mark
    span.mark 2008
    .remark
      /span Nothing beats a good night of anime