---
title: Donny Reynolds
---

.row
  .s12.col
    #welcome-card.center-align
      #center-image
      h4#name DONNY REYNOLDS
      p
        small a.k.a "Dovizu"
      p I study Electrical Engineering and Computer Sciences at UC Berkeley.
      p I really want a cat, so that’s the first thing I’m going to do after graduation.
      p I like building products and I love to focus on design and function.
      p Also, white is my favorite color!
      p Check out my project portfolio or my resume if you came here for that.
      p Thanks for visiting and have a nice day!