.index {
  #welcome-card {
    #center-image {
      background: transparent image-url("homepage/center-image.jpg") no-repeat center;
      background-size: contain;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 300px;
    }
    #name {
      font-family: $default-body-font;
      font-weight: 700;
    }

    @media #{$medium-and-up} {
      margin-top: 60px;

    }
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    line-height: 20px;
  }
}